PORT=8000
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.v5vkx.mongodb.net/TaskManager?retryWrites=true&w=majority
JWT_SECRET=your_jwt_secret_here
ADMIN_INVITE_TOKEN=your_admin_invite_token_here
NODE_ENV=development

# SMTP Configuration (Brevo, Gmail, etc.)
SMTP_USER=your_smtp_username_here
SMTP_PASS=your_smtp_password_here
SENDER_EMAIL=your_sender_email_here

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=your_cloud_name_here
CLOUDINARY_API_KEY=your_api_key_here
CLOUDINARY_API_SECRET=your_api_secret_here

# JWT Expiration Lifespan (e.g., 30d, 7d, 24h)
JWT_EXPIRE=30d
